@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------- Header ------------*/
.logo {
    border-radius: 10%;
    width: 500px;
    width: 50%;
    padding: 10px;
    color: #102C57;
    text-align: center;
    border: solid #DAC0A3;
    background-color: #F8F0E5;

}

/*-------------------- Nav Bar -----------------------*/
.menu {
    color: red;
    right: 5px;

}

.inline-item {
    p
}






.offers-container {
    padding-left: 10px;
    padding-right: 10px;
}

/*--------------------- Footer ------------------------*/


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: darkgray;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background-color: yellowgreen;
}